Repository avandvik/masters-thesis, pull requests merged in 2021-02, with the labels that each got.

#7 2/load data
  .gitignore
  pom.xml
  src/main/java/Constants.java
  src/main/java/Main.java
  src/main/java/Order.java
  src/main/java/ProblemInstance.java
  src/main/java/Solution.java
  src/main/java/objects/Installation.java
  src/main/java/objects/Order.java
  src/main/java/objects/Vessel.java
  src/main/java/subproblem/Node.java
  src/main/java/subproblem/Tree.java
  src/main/java/subproblem/TreeSearch.java
  src/main/java/utils/DistanceCalculator.java
  src/main/resources/constant/installations.json
  src/main/resources/constant/vessels.json
  src/main/resources/instance/example.json
Labels: data

#8 4/tree skeleton
  src/main/java/Main.java
  src/main/java/alns/Solution.java
  src/main/java/data/Constants.java
  src/main/java/data/ProblemInstance.java
  src/main/java/subproblem/ArcGeneration.java
  src/main/java/subproblem/Node.java
  src/main/java/subproblem/Tree.java
  src/main/java/subproblem/TreeSearch.java
  src/main/java/utils/DistanceCalculator.java
  src/main/java/utils/IO.java
Labels: subproblem

#9 Implemented breadthFirstSearch() in Tree class and added isVisited bo…
  src/main/java/subproblem/Node.java
  src/main/java/subproblem/Tree.java
Labels: subproblem

#11 10/implement shortest path
  src/main/java/subproblem/Node.java
  src/main/java/subproblem/Tree.java
Labels: subproblem

#12 5/implement arcgen depot firstorder
  src/main/java/data/Constants.java
  src/main/java/data/Problem.java
  src/main/java/objects/Order.java
  src/main/java/objects/Vessel.java
  src/main/java/subproblem/ArcGeneration.java
  src/main/java/subproblem/Tree.java
  src/main/java/utils/DistanceCalculator.java
  src/main/resources/constant/vessels.json
  src/main/resources/constant/weather.json
  src/main/resources/instance/example.json
Labels: subproblem

#21 14/arc gen order to order and depot to order
  src/main/java/subproblem/ArcGeneration.java
  src/main/java/subproblem/Node.java
  src/main/java/subproblem/Tree.java
Labels: subproblem

#22 19/implement-solution-class
  src/main/java/Main.java
  src/main/java/alns/Solution.java
  src/main/java/subproblem/Tree.java
Labels: alns

#26 23/implement load feasibility check
  src/main/java/alns/Evaluator.java
Labels: alns

#27 13/convert orders to tree
  src/main/java/data/Problem.java
  src/main/java/subproblem/ArcGeneration.java
  src/main/java/subproblem/Tree.java
Labels: subproblem

#30 15/modularize and finish subproblem
  src/main/java/Main.java
  src/main/java/alns/Solution.java
  src/main/java/data/Problem.java
  src/main/java/objects/Order.java
  src/main/java/subproblem/ArcGeneration.java
  src/main/java/subproblem/Node.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/subproblem/Tree.java
  src/main/java/utils/Helpers.java
Labels: subproblem

#31 24/implement time feasibility check
  src/main/java/Main.java
  src/main/java/alns/Evaluator.java
  src/main/java/alns/Solution.java
Labels: alns

#33 29/fix average max speed
  src/main/java/Main.java
  src/main/java/alns/Evaluator.java
  src/main/java/data/Problem.java
  src/main/java/subproblem/ArcGeneration.java
  src/main/java/subproblem/Node.java
  src/main/java/subproblem/Tree.java
  src/main/java/utils/Helpers.java
Labels: bug
