Repository avandvik/masters-thesis, pull requests merged in 2021-03, with the labels that each got.

#32 25/implement visit order feasibility check
  src/main/java/alns/Evaluator.java
  src/main/java/alns/Solution.java
  src/main/java/data/Constants.java
  src/main/java/data/Problem.java
  src/main/java/objects/Installation.java
  src/main/java/objects/Order.java
Labels: alns

#35 18/test subproblem
  pom.xml
  src/main/java/alns/Evaluator.java
  src/main/java/data/Constants.java
  src/main/java/data/Problem.java
  src/main/java/subproblem/ArcGeneration.java
  src/main/java/subproblem/Tree.java
  src/main/java/utils/Helpers.java
  src/main/resources/test/basicTestData.json
  src/main/resources/test/time/discretizationEight.json
  src/main/resources/test/weather/criticalWeather.json
  src/test/java/data/ProblemTest.java
  src/test/java/subproblem/ArcGenerationTest.java
  src/test/java/subproblem/TreeTest.java
Labels: test

#40 34/test evaluator
  src/main/java/alns/Evaluator.java
  src/main/java/data/Problem.java
  src/main/java/utils/Helpers.java
  src/main/resources/instance/evaluatorTest.json
  src/main/resources/test/duration/duration_long.json
  src/main/resources/test/duration/duration_short.json
  src/main/resources/test/load/load.json
  src/main/resources/test/visits/allOrderCombos.json
  src/test/java/EvaluatorTest.java
Labels: test

#41 36/refactor version one
  src/main/java/Main.java
  src/main/java/alns/Evaluator.java
  src/main/java/alns/Solution.java
  src/main/java/arcs/ArcGenerator.java
  src/main/java/data/Problem.java
  src/main/java/subproblem/Tree.java
  src/main/java/utils/IO.java
  src/test/java/subproblem/ArcGeneratorTest.java
Labels: refactor

#42 37/expand solution
  src/main/java/Main.java
  src/main/java/alns/ConstructionHeuristic.java
  src/main/java/alns/Solution.java
  src/main/java/arcs/ArcGenerator.java
  src/main/java/data/Problem.java
  src/main/java/subproblem/Node.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/subproblem/Tree.java
  src/test/java/alns/ConstructionHeuristicTest.java
  src/test/java/alns/EvaluatorTest.java
  src/test/java/alns/SolutionTest.java
Labels: alns

#43 38/implement get all feasible insertions
  src/main/java/alns/ConstructionHeuristic.java
  src/main/java/alns/Evaluator.java
Labels: alns

#50 49/implement new get all feasible insertions
  src/main/java/alns/ConstructionHeuristic.java
Labels: alns

#52 51/test get feasible insertion
  src/main/java/alns/ConstructionHeuristic.java
  src/main/java/alns/Solution.java
  src/test/java/alns/ConstructionHeuristicTest.java
Labels: test

#53 39/implement simple construction heuristic
  src/main/java/alns/Construction.java
  src/main/java/alns/Evaluator.java
  src/main/resources/test/construction/tooManyOrders.json
  src/test/java/alns/ConstructionTest.java
Labels: alns

#54 48/implement alns framework
  .github/workflows/maven.yml
  src/main/java/Main.java
  src/main/java/alns/Heuristic.java
  src/main/java/alns/Main.java
  src/main/java/alns/Solution.java
  src/main/java/subproblem/SubProblem.java
Labels: alns

#55 47/adaptive weight update
  src/main/java/alns/Main.java
  src/main/java/alns/Solution.java
  src/main/java/subproblem/SubProblem.java
  src/test/java/alns/MainTest.java
  src/test/java/arcs/ArcGeneratorTest.java
Labels: alns

#57 46/noisy objective
  src/main/java/alns/GreedyInsertion.java
  src/main/java/alns/Main.java
  src/main/java/alns/Solution.java
  src/main/java/data/Parameters.java
  src/main/java/data/Problem.java
  src/main/java/objects/Vessel.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/utils/Helpers.java
  src/test/java/alns/GreedyInsertionTest.java
  src/test/java/alns/MainTest.java
Labels: alns

#60 58/finish alns v1
  src/main/java/alns/Construction.java
  src/main/java/alns/Evaluator.java
  src/main/java/alns/GreedyInsertion.java
  src/main/java/alns/Main.java
  src/main/java/alns/Objective.java
  src/main/java/alns/RandomRemoval.java
  src/main/java/alns/Solution.java
  src/main/java/alns/heuristics/Construction.java
  src/main/java/alns/heuristics/Heuristic.java
  src/main/java/alns/heuristics/InsertionGreedy.java
  src/main/java/alns/heuristics/RemovalRandom.java
  src/main/java/alns/heuristics/protocols/Destroyer.java
  src/main/java/alns/heuristics/protocols/Repairer.java
  src/main/java/data/Constants.java
  src/main/java/data/Parameters.java
  src/main/java/data/Problem.java
  src/main/java/objects/Order.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/subproblem/Tree.java
  src/main/java/utils/Helpers.java
  src/main/java/utils/IO.java
  src/main/resources/test/allOrderCombos.json
  src/main/resources/test/criticalWeather.json
  src/main/resources/test/discretizationEight.json
  src/main/resources/test/duration/duration_short.json
  src/main/resources/test/load.json
  src/main/resources/test/manyOrders.json
  src/main/resources/test/tooManyOrders.json
  src/test/java/alns/ConstructionTest.java
  src/test/java/alns/EvaluatorTest.java
  src/test/java/alns/GreedyInsertionTest.java
  src/test/java/alns/MainTest.java
  src/test/java/alns/ObjectiveTest.java
  src/test/java/alns/RandomRemovalTest.java
  src/test/java/alns/SolutionGenerator.java
  src/test/java/alns/SolutionTest.java
  src/test/java/alns/heuristics/ConstructionTest.java
  src/test/java/alns/heuristics/InsertionGreedyTest.java
  src/test/java/alns/heuristics/RemovalRandomTest.java
  src/test/java/arcs/ArcGeneratorTest.java
  src/test/java/data/ProblemTest.java
  src/test/java/subproblem/TreeTest.java
  src/test/java/utils/DistanceCalculatorTest.java
  src/test/java/utils/HelpersTest.java
Labels: alns

#71 Extended MainTest
  src/main/java/alns/Main.java
  src/test/java/alns/MainTest.java
Labels: test

#74 72/penalty function postponement
  src/main/java/alns/Evaluator.java
  src/main/java/alns/Solution.java
  src/main/java/alns/heuristics/Construction.java
  src/main/java/alns/heuristics/InsertionGreedy.java
  src/main/java/alns/heuristics/RemovalRandom.java
  src/main/java/data/Messages.java
  src/main/java/data/Problem.java
  src/main/java/objects/Order.java
  src/main/java/utils/Helpers.java
  src/main/java/utils/IO.java
  src/main/resources/test/tooManyOrders.json
  src/test/java/alns/MainTest.java
  src/test/java/alns/SolutionGenerator.java
  src/test/java/alns/heuristics/ConstructionTest.java
  src/test/java/alns/heuristics/InsertionGreedyTest.java
  src/test/java/alns/heuristics/RemovalRandomTest.java
Labels: alns

#75 70/smoke out bugs
  src/main/java/alns/Main.java
  src/main/java/alns/heuristics/InsertionGreedy.java
  src/main/java/data/Parameters.java
  src/main/java/subproblem/Tree.java
  src/main/resources/instance/O4-C1-V1-WS0.json
  src/main/resources/instance/evaluatorTest.json
  src/test/java/alns/MainTest.java
Labels: alns

#73 62/implement worst removal
  src/main/java/alns/Evaluator.java
  src/main/java/alns/Main.java
  src/main/java/alns/heuristics/Heuristic.java
  src/main/java/alns/heuristics/RemovalRandom.java
  src/main/java/alns/heuristics/RemovalWorst.java
  src/main/java/data/Messages.java
  src/main/java/data/Parameters.java
  src/main/java/data/Problem.java
  src/test/java/alns/heuristics/RemovalWorstTest.java
Labels: alns, test

#77 Fixed bug
  src/main/java/alns/Evaluator.java
  src/main/java/alns/heuristics/RemovalRandom.java
  src/main/java/alns/heuristics/RemovalWorst.java
  src/main/java/data/Parameters.java
  src/test/java/subproblem/TreeTest.java
Labels: alns, bug

#79 61/compare exact solver to alns
  src/main/java/alns/Main.java
  src/main/java/alns/Objective.java
  src/main/java/alns/Solution.java
  src/main/java/data/Parameters.java
  src/main/java/subproblem/Tree.java
  src/main/resources/instance/example_10.json
  src/main/resources/instance/example_4.json
  src/main/resources/instance/example_5.json
  src/main/resources/instance/example_6.json
  src/main/resources/instance/example_7.json
  src/main/resources/instance/example_8.json
  src/main/resources/instance/example_9.json
Labels: alns

#82 SubProblems are cached and returned if solved before
  src/main/java/data/Parameters.java
  src/main/java/subproblem/SubProblem.java
  src/test/java/subproblem/TreeTest.java
Labels: alns

#83 68/parallel subproblems
  src/main/java/alns/Objective.java
  src/main/java/alns/heuristics/InsertionGreedy.java
  src/main/java/alns/heuristics/InsertionRegret.java
  src/main/java/alns/heuristics/RemovalWorst.java
  src/main/java/data/Problem.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/utils/Helpers.java
  src/test/java/alns/ObjectiveTest.java
Labels: alns, test

#84 63/implement related removal
  src/main/java/alns/heuristics/RemovalRelated.java
  src/main/java/data/Parameters.java
  src/test/java/alns/heuristics/RemovalRelatedTest.java
Labels: alns, test

#93 81/parallel insertion greedy
  pom.xml
  src/main/java/alns/Evaluator.java
  src/main/java/alns/Objective.java
  src/main/java/alns/Solution.java
  src/main/java/alns/heuristics/Construction.java
  src/main/java/alns/heuristics/InsertionGreedy.java
  src/main/java/alns/heuristics/InsertionRegret.java
  src/main/java/data/Messages.java
  src/main/java/data/Problem.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/subproblem/SubProblemInsertion.java
  src/main/java/subproblem/SubProblemRemoval.java
  src/main/java/utils/Helpers.java
  src/main/resources/gurobi/gurobi.jar
  src/test/java/alns/MainTest.java
  src/test/java/alns/ObjectiveTest.java
Labels: alns

#96 InsertionGreedy tests and refactor of parallel parameters
  src/main/java/alns/heuristics/InsertionGreedy.java
  src/main/java/alns/heuristics/InsertionRegret.java
  src/main/java/data/Parameters.java
  src/test/java/alns/MainTest.java
  src/test/java/alns/heuristics/InsertionGreedyTest.java
Labels: test

#97 Made parallel InsertionRegret, refactored, and tested
  pom.xml
  src/main/java/alns/heuristics/InsertionGreedy.java
  src/main/java/alns/heuristics/InsertionRegret.java
  src/main/java/data/Parameters.java
  src/test/java/alns/heuristics/InsertionRegretTest.java
Labels: alns, test

#99 85/save routes
  src/main/java/alns/Main.java
  src/main/java/alns/Solution.java
  src/main/java/data/Parameters.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/subproblem/SubProblemInsertion.java
  src/test/java/alns/MainTest.java
Labels: alns, set partitioning

#101 80/removal worst parallel and random
  src/main/java/alns/Objective.java
  src/main/java/alns/heuristics/InsertionGreedy.java
  src/main/java/alns/heuristics/RemovalRelated.java
  src/main/java/alns/heuristics/RemovalWorst.java
  src/main/java/data/Parameters.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/subproblem/SubProblemInsertion.java
  src/main/java/subproblem/SubProblemRemoval.java
  src/test/java/alns/heuristics/RemovalRelatedTest.java
  src/test/java/alns/heuristics/RemovalWorstTest.java
Labels: alns, test

#102 90/removal random parallel
  src/main/java/alns/heuristics/RemovalRandom.java
Labels: alns

#103 87/preprocessing set partitioning
  src/main/java/setpartitioning/SetPartitioningModel.java
  src/main/java/setpartitioning/SetPartitioningParameters.java
Labels: set partitioning

#104 92/removal-related-random
  src/main/java/alns/heuristics/Heuristic.java
  src/main/java/alns/heuristics/RemovalRandom.java
  src/main/java/alns/heuristics/RemovalRelated.java
  src/main/java/alns/heuristics/RemovalWorst.java
  src/main/java/data/Parameters.java
  src/test/java/alns/heuristics/RemovalRelatedTest.java
  src/test/java/alns/heuristics/RemovalWorstTest.java
Labels: alns, test

#105 88/postprocessing set partitioning
  src/main/java/alns/Evaluator.java
  src/main/java/alns/Main.java
  src/main/java/data/Parameters.java
  src/main/java/setpartitioning/Data.java
  src/main/java/setpartitioning/Model.java
  src/main/java/setpartitioning/SetPartitioningModel.java
  src/main/java/setpartitioning/SetPartitioningParameters.java
  src/test/java/alns/MainTest.java
Labels: alns

#111 106/smoke out bugs v2 v3
  src/main/java/alns/Main.java
  src/main/java/alns/Objective.java
  src/main/java/alns/heuristics/Heuristic.java
  src/main/java/alns/heuristics/InsertionGreedy.java
  src/main/java/alns/heuristics/InsertionRegret.java
  src/main/java/alns/heuristics/RemovalRandom.java
  src/main/java/alns/heuristics/RemovalRelated.java
  src/main/java/alns/heuristics/RemovalWorst.java
  src/main/java/data/Constants.java
  src/main/java/data/Parameters.java
  src/main/java/data/Problem.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/subproblem/SubProblemInsertion.java
  src/main/java/subproblem/SubProblemRemoval.java
  src/test/java/alns/MainTest.java
  src/test/java/alns/heuristics/ConstructionTest.java
  src/test/java/alns/heuristics/InsertionGreedyTest.java
  src/test/java/alns/heuristics/InsertionRegretTest.java
  src/test/java/alns/heuristics/RemovalRandomTest.java
  src/test/java/alns/heuristics/RemovalRelatedTest.java
  src/test/java/alns/heuristics/RemovalWorstTest.java
Labels: alns, set partitioning, test

#113 110/refactor pom
  .github/workflows/maven.yml
  Makefile
  pom.xml
  src/main/java/alns/Main.java
  src/main/java/data/Constants.java
  src/main/java/data/Parameters.java
  src/main/java/setpartitioning/Model.java
  src/main/java/utils/IO.java
  src/main/resources/gurobi/gurobi.jar
  src/test/java/alns/MainTest.java
  src/test/java/alns/heuristics/ConstructionTest.java
Labels: infra

#115 114/shell scripts
  Makefile
  shell/run.sh
  shell/upload.sh
Labels: infra

#117 116/save best solution
  .gitignore
  Makefile
  shell/run.sh
  src/main/java/alns/Main.java
  src/main/java/alns/heuristics/Heuristic.java
  src/main/java/data/Constants.java
  src/main/java/data/Parameters.java
  src/main/java/data/Problem.java
  src/main/java/objects/Vessel.java
  src/main/java/utils/IO.java
  src/test/java/alns/MainTest.java
Labels: alns, data, infra

#119 108/caching parallel
  src/main/java/alns/Main.java
  src/main/java/alns/Objective.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/subproblem/SubProblemInsertion.java
  src/main/java/subproblem/SubProblemRemoval.java
  src/test/java/alns/heuristics/ConstructionTest.java
  src/test/java/alns/heuristics/InsertionGreedyTest.java
  src/test/java/alns/heuristics/InsertionRegretTest.java
  src/test/java/alns/heuristics/RemovalWorstTest.java
Labels: alns, performance, subproblem

#122 118/refactor bfs
  src/main/java/alns/Main.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/subproblem/Tree.java
Labels: subproblem, test
