Repository avandvik/masters-thesis, pull requests merged in 2021-04, with the labels that each got.

#123 16/instance generator
  src/main/java/data/Constants.java
  src/main/java/objects/Installation.java
  src/main/java/utils/IO.java
  src/main/java/utils/InstanceGenerator.java
  src/main/resources/constant/installations.json
  src/main/resources/generated/test.json
Labels: data

#125 124/plot solutions
  .gitignore
  Makefile
  plot/plot.py
  requirements.txt
  src/main/java/data/Constants.java
Labels: data

#126 Added double check in isSolutionComplete
  src/main/java/alns/Evaluator.java
Labels: alns, bug

#129 112/score routes
  src/main/java/alns/Evaluator.java
  src/main/java/alns/Main.java
  src/main/java/data/Parameters.java
  src/main/java/objects/Vessel.java
  src/main/java/setpartitioning/VoyageScoring.java
  src/main/java/utils/IO.java
Labels: alns, set partitioning, test

#131 120/implement local search
  src/main/java/alns/Evaluator.java
  src/main/java/alns/Main.java
  src/main/java/alns/Solution.java
  src/main/java/localsearch/LocalSearch.java
  src/main/java/localsearch/OperatorOneRelocate.java
  src/main/java/objects/Installation.java
  src/main/java/utils/Helpers.java
  src/test/java/alns/EvaluatorTest.java
  src/test/java/alns/MainTest.java
  src/test/java/alns/heuristics/InsertionGreedyTest.java
  src/test/java/alns/heuristics/InsertionRegretTest.java
  src/test/java/localsearch/OperatorOneRelocateTest.java
Labels: alns, localsearch, test

#139 133/spot removal
  src/main/java/alns/heuristics/RemovalSpot.java
  src/test/java/alns/heuristics/RemovalSpotTest.java
Labels: alns

#145 142/fix objective function bug
  .gitignore
  shell/run.sh
  src/main/java/alns/Evaluator.java
  src/main/java/alns/Main.java
  src/main/java/alns/Objective.java
  src/main/java/alns/Solution.java
  src/main/java/alns/heuristics/Construction.java
  src/main/java/data/Parameters.java
  src/main/java/localsearch/LocalSearch.java
  src/main/java/localsearch/OperatorOneRelocate.java
  src/main/java/utils/IO.java
  src/main/resources/instances/5-5-1-1.json
  src/main/resources/instances/5-6-1-1.json
  src/main/resources/instances/5-7-1-1.json
  src/main/resources/instances/5-8-1-1.json
  src/test/java/alns/MainTest.java
  src/test/java/alns/heuristics/ConstructionTest.java
Labels: alns, bug

#148 64/cluster removal
  src/main/java/alns/heuristics/RemovalCluster.java
  src/main/java/alns/heuristics/RemovalSpread.java
  src/main/java/data/Constants.java
  src/main/java/data/Messages.java
  src/main/java/utils/DistanceCalculator.java
  src/main/java/utils/Helpers.java
  src/main/resources/test/clusterOrders.json
  src/test/java/alns/heuristics/RemovalClusterTest.java
Labels: alns, test

#157 141/design speed consumption
  src/main/java/alns/Solution.java
  src/main/java/alns/heuristics/Construction.java
  src/main/java/alns/heuristics/Heuristic.java
  src/main/java/alns/heuristics/InsertionMaxOrderSize.java
  src/main/java/alns/heuristics/InsertionMaxPenaltyCost.java
  src/main/java/arcs/ArcGenerator.java
  src/main/java/data/Constants.java
  src/main/java/data/Problem.java
  src/main/java/objects/Vessel.java
  src/main/java/subproblem/Node.java
  src/main/java/subproblem/SubProblem.java
  src/main/java/subproblem/Tree.java
  src/main/java/utils/Helpers.java
  src/main/java/utils/IO.java
  src/main/resources/constant/vessels.json
  src/test/java/alns/EvaluatorTest.java
  src/test/java/alns/heuristics/InsertionMaxPenaltyCostTest.java
  src/test/java/arcs/ArcGeneratorTest.java
  src/test/java/subproblem/TreeTest.java
Labels: data

#158 151/two exchange
  src/main/java/alns/heuristics/Heuristic.java
  src/main/java/data/Problem.java
  src/main/java/localsearch/Operator.java
  src/main/java/localsearch/OperatorOne.java
  src/main/java/localsearch/OperatorOneExchange.java
  src/main/java/localsearch/OperatorOneRelocate.java
  src/main/java/localsearch/OperatorTwo.java
  src/main/java/localsearch/OperatorTwoExchange.java
  src/main/java/objects/Order.java
  src/test/java/localsearch/OperatorTwoExchangeTest.java
Labels: localsearch, test

#160 159/refactor one relocate
  src/main/java/localsearch/OperatorOne.java
Labels: localsearch, test, wontfix

#162 Created operator with test
  src/main/java/alns/heuristics/Heuristic.java
  src/main/java/localsearch/Operator.java
  src/main/java/localsearch/OperatorOneRelocate.java
  src/main/java/localsearch/OperatorTwo.java
  src/main/java/localsearch/OperatorTwoExchange.java
  src/main/java/localsearch/OperatorTwoRelocate.java
  src/main/java/utils/Helpers.java
  src/test/java/alns/heuristics/InsertionMaxOrderSizeTest.java
  src/test/java/alns/heuristics/InsertionMaxPenaltyCostTest.java
  src/test/java/localsearch/OperatorTwoRelocateTest.java
Labels: localsearch, test

#163 153/postpone scheduled
  src/main/java/localsearch/Operator.java
  src/main/java/localsearch/OperatorPostponeScheduled.java
  src/main/java/localsearch/OperatorTwo.java
  src/test/java/localsearch/OperatorPostponeScheduledTest.java
  src/test/java/localsearch/OperatorTwoExchangeTest.java
Labels: localsearch, test
